@model IEnumerable<ResumeManager.Models.Company>
@{
    ViewData["Title"] = "Компании";
}

<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Компании</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Адрес</th>
        </tr>

        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Id</td>
                <td>@company.CompanyName</td>
                <td>@company.Address</td>

                <td>
                    <a asp-action="Details" asp-controller="Company" asp-route-id="@company.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a asp-action="Edit" asp-controller="Company" asp-route-id="@company.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="Delete" asp-controller="Company" asp-route-id="@company.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </table>
</div>

<a class="btn btn-primary btn-lg btn-block" href="~/Company/Create" role="button">Добавить Компанию</a>