@model IEnumerable<ResumeManager.Models.User>
@{
    ViewData["Title"] = "Админы";
}

<div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Администраторы</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Логин</th>
            <th>Пароль</th>
        </tr>

        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.Id</td>
                <td>@admin.Username</td>
                <td>@admin.Password</td>
                <td>
                    <a asp-action="Details" asp-controller="Admin" asp-route-id="@admin.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a asp-action="Edit" asp-controller="Admin" asp-route-id="@admin.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                    <a asp-action="Delete" asp-controller="Admin" asp-route-id="@admin.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </table>
</div>

<a class="btn btn-primary btn-lg btn-block" href="~/Admin/Create" role="button">Добавить Администратора</a>