@model ResumeManager.Models.User
@{
    ViewBag.Title = "Администатор " + Model.Username;
}
<div class="container-fluid">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Администатор @Model.Username</div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">ID: @Model.Id</li>
            <li class="list-group-item">Username: @Model.Username</li>
            <li class="list-group-item">Password: @Model.Password</li>
            <li class="list-group-item">Name: @Model.Name</li>
            <li class="list-group-item">LastName: @Model.LastName</li>
            <li class="list-group-item">Phone: @Model.Phone</li>
            <li class="list-group-item">Company: @Model.Company</li>
        </ul>
    </div>
    <a href="~/Admin/Admins" class="btn btn-primary btn-lg btn-block" role="button">Назад</a>

</div>